@import ../../../_variables
    
button
    margin: 30px auto
    cursor: pointer
    p
        font-size: 16px
    &.primary-btn
        color: #fff
        padding: 15px 40px
        background-color: $soft-blue
        border: 1px solid $soft-blue
        transition: all .25s
    &.ghost-btn
        color: #fff
        padding: 15px 40px
        background-color: transparent
        border: 1px solid #fff
        transition: all .25s
        &:hover
            color: $soft-blue
            background-color: #fff
            transition: all .25s