@import ../../_variables
    
.portfolio-info
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-gap: 5vmin
    margin-top: 5vmin
    .porfolio-data
        display: grid
        grid-template-columns: 28vh 1fr
        grid-gap: 20px
        &:hover
            img
                transform: translateY(calc( -100% + 200px ))
                transition: all 3.5s
        &.box
            padding: 0px
            max-height: 200px
        .porfolio-data-img
            max-height: 200px
            img
                // margin: -20px
                width: 100%
                height: auto
                transition: all 2s
        .porfolio-data-text
            padding: 20px 20px 20px 0px
            align-self: center
            p
                color: $soft-blue
                font-size: 18px
            p.tech
                margin: 5px 0px
                color: $soft-gray
                font-size: 14px
                line-height: 18px
            a
                display: block
                p
                    float: left
                    font-size: 12px

@media screen and ( max-width: 850px )
    .portfolio-info
        grid-template-columns: 1fr