@import ../../../_variables
    
.typing
    animation: typing .5s ease
    h1
        color: #fff !important
        font-size: $title-size
        // font-weight: lighter !important
        span
            // color: #fff
            font-size: $title-size
            font-weight: bold
            font-style: italic
            background: linear-gradient(to left, $orange, $yellow)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent

@keyframes typing
    0%
        opacity: 0
        transform: translateY(50px) scale(0.9)
    100%
        opacity: 1
        transform: translateY(0px) scale(1)

@media (max-width: 870px)
    .typing
        h1
            span
                font-size: 3rem