@import ../../../_variables
    
.typing
    h1
        color: #fff !important
        font-size: $title-size
        // font-weight: lighter !important
        span
            color: #fff
            font-size: $title-size
            font-weight: bold
            font-style: italic

@media (max-width: 870px)
    .typing
        h1
            span
                font-size: 3rem