@import ../../../_variables
    
header
    z-index: 100
    position: fixed
    width: 100%
    img
        width: 250px
        height: auto
        transition: all .5s
    &.sticky
        background-color: rgba($soft-blue, .85)
        backdrop-filter: blur(5px)
        background: -moz-linear-gradient(to right, rgba($soft-blue, 1), rgba($soft-blue, 1))
        img
            width: 200px
    .main__header
        display: flex
        justify-content: space-between
        // gap: 20px
        padding: 20px 15px
        nav
            label
                img
                    width: 1.5rem

@media screen and (max-width: 425px)
    header
        img
            width: 200px

@keyframes header
    0%
        opacity: 0
        transform: translateY(-30px) scale(0.9)
    100%
        opacity: 1
        transform: translateY(0px) scale(1)
        