@import ../../_variables
    
.about
    section
        display: grid
        grid-template-rows: auto 1fr
        grid-gap: 20px
        .section-content
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 20px
            .profile-pic
                text-align: center
                img
                    width: 50%
                    height: auto
                    border-radius: 50%
            .profile-description
                color: $soft-gray
                p
                    font-size: 3vmin
                    font-weight: lighter
                    line-height: 45px
                    span
                        color: $soft-blue
                        font-weight: 400