@import ../../_variables
    
.about
    section
        display: grid
        grid-template-rows: auto 1fr
        grid-gap: 5vmin
        .section__content
            display: grid
            grid-template-columns: repeat(2,1fr)
            grid-template-areas: "description pic"
            grid-gap: 20px
            .profile__pic
                text-align: center
                img
                    width: 70%
                    min-width: 200px
                    height: auto
                    border-radius: 50%
                p
                    line-height: 45px

.profile__description
    grid-area: description
    .data-text
        display: grid
        grid-gap: 20px

.profile__pic
    grid-area: pic

@media screen and ( max-width: 850px )
    .about
        section
            .section__content
                grid-template-columns: 1fr
                grid-template-areas: "pic" "description"
                .profile__pic
                    img
                        min-width: 200px